pkg
doc
coverage
.yardoc

vendor/gems/gems
vendor/gems/specifications
vendor/gems/doc
vendor/gems/environment.rb

coverage.data

spec/tmp/*
tmp
log
vendor

.idea/*
.bundle/*

.ruby-version

spec/support/database.yml