pkg
doc
coverage
.yardoc

vendor/gems/gems
vendor/gems/specifications
vendor/gems/doc
vendor/gems/environment.rb
vendor/ruby
#not sure if this is the right way of doing this
vendor/cache

coverage.data

spec/tmp/*

.idea/*
.bundle/*

.rvmrc

spec/support/database.yml


