sqlite:
  adapter: sqlite3
  database: spec/tmp/test.sqlite

mysql:
  adapter: mysql
  database: mongify_test
  username: root
  password: passw0rd
  host: localhost
  port: 3306

mongo:
  adapter: mongo
  database: mongify_test
  host: localhost
  port: 27017